// Colors
@import "/src/index.scss";

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 400px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.items {
  overflow: auto;
  margin-bottom: 25px;
  flex-grow: 1;

  .cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid $border;
    overflow: hidden;
    padding: 20px;

    p {
      font-size: 14px;
    }

    b {
      font-size: 14px;
    }

    .removeBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease-in;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.cartEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;

  .greenBtn {
    position: relative;
    width: 100%;
    padding: 18px;
    border-radius: 18px;
    background: #9dd458;
    color: $white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.15s ease-in;
    cursor: pointer;

    &:active {
      background: darken(#9dd458, 10%);
    }

    &:hover {
      .arrowLeft {
        transform: translate(-5px);
      }
    }
  }

  .arrowLeft {
    position: absolute;
    left: 30px;
    top: 22px;
    transition: transform 0.2s ease-in;
  }

  p {
    max-width: 285px;
    text-align: center;
  }
}

.cartTotal {
  ul {
    margin-bottom: 24px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed $dashed;
      position: relative;
      top: -4px;
      margin: 0 8px;
    }
  }

  .btnArrow {
    position: relative;
    width: 100%;
    padding: 18px;
    border-radius: 18px;
    background: #9dd458;
    color: $white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.15s ease-in;
    cursor: pointer;

    &:active {
      background: darken(#9dd458, 10%);
    }

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 22px;
      transition: transform 0.2s ease-in;
    }
  }
}
