// Colors
$main: #e7f6ff;
$white: #fff;
$border: #eaeaea;
$dashed: #dfdfdf;

// Fonts
$font-main: "Inter", sans-serif;

.items {
  overflow: auto;
  margin-bottom: 25px;

  .cartItem {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid $border;
    overflow: hidden;
    padding: 20px;

    p {
      font-size: 14px;
    }

    b {
      font-size: 14px;
    }

    .removeBtn {
      opacity: 0.5;
      transition: opacity 0.2s ease-in;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}
