// Colors
$main: #e7f6ff;
$white: #fff;
$border: #eaeaea;
$dashed: #dfdfdf;

// Fonts
$font-main: "Inter", sans-serif;

body {
  margin: 0;
  font-family: $font-main;
  background-color: $main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: $font-main;
}

.none {
  display: none !important;
}

.container {
  border-radius: 20px;
  background: $white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
  margin: 85px auto;
  padding: 0 15px;
  max-width: 1110px;
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  background: $white;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.searchWrapper {
  display: flex;
  border-radius: 10px;
  border: 1px solid $border;
  width: 245px;
  height: 45px;

  input {
    border: 0;
    font-size: 14px;
    width: 180px;
  }
}
